{% extends 'users/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>

    </style>
</head>
<body>

    {% include 'users/header.html' %}
    {% block content %}
    <main>
    <h1>DASHBOARD</h1>

    <h2>Hello, {{member.member_fname}} {{member.member_lname}}</h2>


    {% if member.member_role == "manager" %}
        <p>Person with Manager role should see this.</p>
    {% endif %}
    
    {% if member.member_role == "manager" or member.member_role == "drone" %}
        <p>Person with Manager or Drone Controller role should see this.</p>
    {% endif %}

    {% if member.member_role == "manager" or member.member_role == "analyst" %}
        <p>Person with Manager or Data Analyst role should see this.</p>
    {% endif %}

    <p>Everyone should see this.</p>
    {% endblock %}
    </main>
</body>
</html>